/* relatorios.css */

.table-bordered {
  border: 1px solid black;
  border-collapse: collapse;
}

.table-bordered th, 
.table-bordered td {
  border: 1px solid black;
  padding: 8px;
}

@media print {
  .no-print {
    display: none;
  }
}
